[submodule "interop.p4app/evanblasy"]
	path = interop.p4app/evanblasy
	url = https://github.com/evanblasy/router-project.p4app
[submodule "interop.p4app/adamwolnikowski"]
	path = interop.p4app/adamwolnikowski
	url = https://github.com/AWoLnik/router
[submodule "interop.p4app/yupeng"]
	path = interop.p4app/yupeng
	url = https://github.com/charles-typ/yupeng-router.git
[submodule "interop.p4app/willsussman"]
	path = interop.p4app/willsussman
	url = https://github.com/willsussman/maclearning.p4app.git
[submodule "interop.p4app/brandonliu"]
	path = interop.p4app/brandonliu
	url = https://github.com/liubrandon/pwospf-p4-router.git
[submodule "interop.p4app/eric"]
	path = interop.p4app/eric
	url = https://github.com/RollingPeanuts/interop-router.git
